<div class="d-flex w-100 marqueeContainer rounded-2">
    <div class="z-1">
        <img src="{{ marquee.path }}" height="25px">
    </div>
    <marquee class="marqueeText text-white w-100">
        {{ marquee.text }}
    </marquee>
</div>