<div class="container-fluid d-flex marqueeContainerPc">
    <div class="container d-flex w-100">
        <div class="z-1">
            <img src="{{ marquee.path }}" height="30px">
        </div>
        <marquee class="marqueeTextPc text-white w-100" style="font-size: 1.3em;">
            {{ marquee.text }}
        </marquee>
    </div>
</div>