<!-- Modal -->
<div
  class="modal fade"
  id="contactModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modal">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">{{ contact.title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-3 d-flex">
          {% if contact.contact %}
            {% for item in contact.contact %}
              <div class="col text-center p-2">
                <a href="{{ item.link }}">
                  <img src="{{ item.icon }}" style="height: 40px" class="rounded-3"></a>
                  <div class="text-white mt-2">{{ item.title }}</div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          <hr class="text-white">
            <div class="row row-cols-2">
              <div class="col d-flex justify-content-around align-items-center">
                <img src="{{ number.icon }}" style="height: 40px" class="rounded-3"></div>
                <div class="col">
                  <div class="row row-cols-1">
                    {% if number.number %}
                      {% for item in number.number %}
                        <div class="col text-center​​ p-1">
                          <a href="tel:{{ item.phonenum }}" style="text-decoration: none; color:white;">{{ item.phonenum }}</a>
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>